---
interface Props {
  horizontal?: boolean;
}

const { horizontal } = Astro.props as Props;
---

<div
  class:list={["w-[min(1280px,100vw)] space-y-2", horizontal ? "w-screen" : ""]}
>
  <slot />
</div>
